# Domain/URL Configuration
TOP_LEVEL_DOMAIN="localhost"
SCHEME="http://"
EXTERNAL_SPA_SLD="folkeep.app"
EXTERNAL_AUTH_SLD="folkeep.auth"
EXTERNAL_API_SLD="folkeep.api"
INTERNAL_SPA_SLD="spa:3000"
INTERNAL_AUTH_SLD="keycloak:8080"
INTERNAL_API_SLD="api:8000"

# SPA
NEXTAUTH_SECRET=

# API
DB_PASSWORD=
REDIS_PASSWORD=

# Keycloak
KC_DB_PASSWORD=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_TEST_USER_PASSWORD=testpassword
